<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

		<!--coolie-->
		<link type="text/css" rel="stylesheet" href="/@/css/mui.css"/>
	    <!--/coolie-->
	</head>

	<body>
		<div class="mui-content-padded">
			<div class="mui-input-row">
				<input type="text" class="mui-input-clear" placeholder="待办事项标题" id="addTitle">
			</div>
			<div class="mui-input-row">
				<textarea rows="14" placeholder="待办事项内容" id="addContent"></textarea>
			</div>
			<div class="mui-button-row">
				<button class="mui-btn mui-btn-block mui-btn-primary addItemBtn">添加</button>
			</div>
		</div>
		
		<!--coolie-->
		<script type="text/javascript" src="/@/js/lib/mui.js"></script>
		<script type="text/javascript" src="/@/js/lib/jquery-1.11.2.min.js"></script>
	    <!--/coolie-->
	    
	    <script coolie src="/@/js/coolie.min-1.2.5.js" data-config="./coolie-config.js" data-main="./add.js"></script>
	</body>
</html>