#my_task_list {
	margin-top: -1px;
	display: none;
}
#my_task_list li{
	height: 80px;
	line-height: 60px;
}

.title {
	color:#fff;
	margin: 35px 15px 10px;
}
.title+.content {
	margin: 10px 15px 35px;
	color: #bbb;
	text-indent: 1em;
	font-size: 14px;
	line-height: 24px;
}