<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

		<!-- mui -->
		<link rel="stylesheet" href="../css/mui.min.css"/>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		
		<!-- jquery -->
		<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
		<!-- qiao.js -->
		<script type="text/javascript" src="../ui/qiao.js"></script>
	</head>

	<body>
		<div class="mui-content-padded">
			<div class="mui-input-row">
				<input type="text" class="mui-input-clear" placeholder="待办事项标题" id="addTitle">
			</div>
			<div class="mui-input-row">
				<textarea rows="14" placeholder="待办事项内容" id="addContent"></textarea>
			</div>
			<div class="mui-button-row">
				<button class="mui-btn mui-btn-block mui-btn-primary addItemBtn">添加</button>
			</div>
		</div>
		<script type="text/javascript" src="../ui/add/add.js"></script>
	</body>
</html>